# CANDEV 2022

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
from IPython.display import display

In [2]:
df = pd.read_csv("INCIDENT_OWNER_HISTORY.csv")

***Le temps moyen que les incidents passent dans un statut particulier.***

In [3]:
df.groupby('STATUS').mean()

            TIME_IN_STATUS_BY_OWNER_HRS
STATUS
AWAITCHG                     127.377065
AWAITCUS                      85.690441
AWAITVEN                     144.054339
CLOSED                              NaN
HISTEDIT                      16.639815
INPROG                        40.150039
NEW                            8.283333
PENDING                       68.230397
PENDINGCHG                   158.836006
PENDINGCUS                    92.318825
PENDINGREV                   209.543013
PENDINGVEN                   102.631822
QUEUED                        47.523962
RESOLVED                       0.147288
SLAHOLD                      128.120452

![](StatusAverageHisto.png)

![](StatusAverageCircle.png)

***Le nombre de fois qu'un incident est réassigné pendant la durée de vie du ticket.***

In [5]:
#remove NAN value in TIME IN STATUT
df = df[df['TIME_IN_STATUS_BY_OWNER_HRS'].notna()]
#remove NAN value in TIME IN Assigned group
df = df[df['assigned_group'].notna()]
df_new1 = pd.DataFrame(columns=['ticket_nmbr','assigned_group','TIME_IN_STATUS_BY_OWNER_HRS'])
df_new1['ticket_nmbr'] = df['ticket_nmbr']
df_new1['TimeInHour'] = df['TIME_IN_STATUS_BY_OWNER_HRS']
# Groupby and sum
df_new1 = df_new1.groupby(["ticket_nmbr"]).agg({"TimeInHour": "sum"}).sort_values(["ticket_nmbr"]).reset_index()
df_new2 = df.groupby(["ticket_nmbr","assigned_group"]).agg({"TIME_IN_STATUS_BY_OWNER_HRS": "sum"}).sort_values(["ticket_nmbr","assigned_group" ]).reset_index()
occurence = df_new2.pivot_table(columns=["ticket_nmbr"], aggfunc='size')
df_new1['R_occur'] = occurence.tolist()

In [6]:
df_new1

       ticket_nmbr  TimeInHour  R_occur
0       IN10028612    8.383333        1
1       IN10028613   64.100000        1
2       IN10028614    8.750000        1
3       IN10028615    3.616667        1
4       IN10028617  116.150000        1
...            ...         ...      ...
224413  IN10293549    0.000000        2
224414  IN10293550    0.000000        1
224415  IN10293551    0.000000        1
224416  IN10293552    0.000000        2
224417  IN10293554    0.000000        1

[224418 rows x 3 columns]

***Le temps moyen que les incidents passent avec un groupe de support particulier (Assigned_Group).***

In [10]:
df_new2.to_csv("df_new2.csv",index=False)

df_new2.groupby('assigned_group').mean()

                TIME_IN_STATUS_BY_OWNER_HRS
assigned_group
1769                               6.050000
AP000001                         109.789474
AP000003                         399.466667
AP000004                         551.600000
AP000005                           0.616667
...                                     ...
SM000585                          21.248418
SM000586                           0.000000
SOLADMIN                           1.416667
SSCINFRA                          23.033333
TIVMON                            72.287500

[579 rows x 1 columns]

In [11]:
df_new2

       ticket_nmbr assigned_group  TIME_IN_STATUS_BY_OWNER_HRS
0       IN10028612       DC000152                     8.383333
1       IN10028613       NDS00032                    64.100000
2       IN10028614       DC000155                     8.750000
3       IN10028615       DC000133                     3.616667
4       IN10028617       DC000115                   116.150000
...            ...            ...                          ...
310343  IN10293550       DC000263                     0.000000
310344  IN10293551       DC000152                     0.000000
310345  IN10293552       DC000155                     0.000000
310346  IN10293552       SM000562                     0.000000
310347  IN10293554       DC000188                     0.000000

[310348 rows x 3 columns]

***Temps moyen pour restaurer le service (MTRS), y a-t-il des services particuliers qui prennent plus de temps en moyenne pour être restaurés ?***

In [17]:
df_servicelong = df.groupby('service').mean()
df_servicelong

                                                    TIME_IN_STATUS_BY_OWNER_HRS
service
Bulk Print                                                           377.007738
Classified Infrastructure - GCSI - Hosting Envi...                    43.980464
Classified Infrastructure - Government of Canad...                   107.905556
Cloud Brokering                                                       63.118243
Conferencing - Videoconferencing                                      43.938437
...                                                                         ...
To be determined                                                     309.741667
Toll-free Voice                                                       55.636462
WTD - Hardware                                                       142.022840
WTD Provisioning                                                     625.816667
Workplace Technology Services                                         14.495464

[65 rows x 1 columns]

In [23]:
df_servicelong.max()

TIME_IN_STATUS_BY_OWNER_HRS    1973.583333
dtype: float64

***Existe-t-il une corrélation entre le nombre de réaffectations d'un incident et le temps nécessaire à sa restauration ?***

Ce graph a ete faite avec le logiciel R

![](corellation1.png)

***Y a-t-il des organisations particulières pour lesquelles il faut plus de temps en moyenne pour restaurer les services ?***

In [25]:
df_new2.max()

ticket_nmbr                    IN10293554
assigned_group                     TIVMON
TIME_IN_STATUS_BY_OWNER_HRS        7307.2
dtype: object